[Unit]
Description=Rover Robot API
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
WorkingDirectory={NODE_DIR}
Environment=SCOUT_TELEMETRY_LOG_ENABLED=1
Environment=SCOUT_TELEMETRY_DB_PATH={NODE_DIR}/config/telemetry.db
ExecStart={NODE_DIR}/scripts/start_robot_api.sh
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
