[Unit]
Description=Rover Gamepad Controller
After=scout-robot-api.service

[Service]
Type=simple
WorkingDirectory={NODE_DIR}
ExecStart={NODE_DIR}/scripts/start_controller.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
